.mobileMenu {
    display: none;

    >div {
        overflow: hidden;
        width: 100%;
        height: calc(100% - var(--header-height));
        position: fixed;
        top: var(--header-height);
        left: 0;
        background-color: var(--first-screen-bg);
        z-index: 10;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        padding: 72px 18px;
        transition: opacity .4s ease;

        >button {
            width: 100%;
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 56px;

            >li {
                transition: font-weight .2s ease;

                &:active {
                    font-weight: 700;
                }
            }
        }
    }

    &.open {
        >div {
            opacity: 1;

            >button {
                transform: scale(1);
            }
        }
    }

    &.closed {
        >div {
            pointer-events: none;
            user-select: none;
            opacity: 0;

            >button {
                transform: scale(0);
            }
        }
    }

    @media screen and (max-width:850px) {
        display: flex;
    }
}