@import './reset.scss', './variables.scss', './spacings.scss', './fonts.scss';


::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.App {
    overflow-x: hidden;
}

.cta {
    cursor: pointer;
}