body {
    --first-screen-bg: #F7F3F4;
    --primary-bg-color: #FFBD9E;
    --cta-btn-color: #F2726C;
    --header-height: 112px;
    --side-spacing: 80px;


    background-color: #fff;

    @media screen and (max-width: 850px) {
        --side-spacing: 30px;
    }

    @media screen and (max-width: 480px) {
        --side-spacing: 18px;
    }
}