.getStarted {
    padding: 104px 104px 104px 80px;
    background-color: var(--primary-bg-color);
    border-radius: 20px;
    display: flex;
    gap: 125px;

    >* {
        width: 50%;
    }

    :global {
        .text-pair {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 40px;
        }
    }
}