.footer {
    padding: 90px 0;
    display: flex;
    justify-content: space-between;

    >div {
        display: flex;
        flex-direction: column;
        gap: 35px;

        >h6 {
            color: #333333;
        }
    }

    :global {
        .social {
            >ul {
                display: flex;
                gap: 16px;

                >a svg path {
                    transition: fill .2s ease;
                }

                >a:hover svg path {
                    fill: var(--cta-btn-color);
                }
            }
        }
    }

    @media screen and (max-width: 480px) {
        padding: 42px 12px;
        gap: 32px;
        flex-wrap: wrap;

        >div {
            &:first-of-type {
                width: 100%;
                gap: 1px;

                p {
                    display: inline;
                }
            }

            &:nth-of-type(2) {
                gap: 15px;

                >div {
                    max-width: 140px;
                }
            }

            &:last-of-type {
                gap: 19px;

                >ul {
                    gap: 13px;
                }
            }
        }
    }
}