.footer {
    padding: 90px 0;
    display: flex;
    justify-content: space-between;

    >div {
        display: flex;
        flex-direction: column;
        gap: 35px;

        >h6 {
            color: #333333;
        }
    }

    :global {
        .social {
            >ul {
                display: flex;
                gap: 16px;
            }
        }
    }
}