.accordion {
    border-bottom: 1px solid rgba(30, 26, 32, 0.2);
    overflow: hidden;

    >p {
        padding-top: 32px;
        transition-property: margin-bottom, height;
        transition: .3s ease-in;
    }

    &.open>p {
        margin-bottom: 16px;
    }

    &.closed>p {
        margin-bottom: 0;
    }

    :global {
        .row {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5px;

            >button {
                flex-shrink: 0;
                display: grid;
                place-content: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: var(--cta-btn-color);
                transition-property: opacity, transform;
                transition: .2s ease;
                opacity: 0.9;

                &:hover {
                    opacity: 1;
                }

                &:active {
                    transform: scale(1.02);
                }
            }
        }
    }
}